#main {
  width :100vw;
  height: 100vh;
}

#wrapper {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

#timers {
  width: 100%;
  height: 30vh;
  margin-top: 10vh;
}

.session-timer {
  font-size: 4vmin;
  width: 20vmin;

}

.session-timer div {
  display: inline-block;

}

.session-timer button {
  font-size: 2vmin;
  margin-right: 1vmin;
  margin-left: 1vmin;
  cursor: pointer;
}